aniso8601==8.0.0
appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
cached-property==1.5.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
defusedxml==0.6.0
Flask==1.1.1
Flask-Cors==3.0.8
flask-restplus==0.13.0
idna==2.8
importlib-metadata==1.4.0
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
lazy-object-proxy==1.4.3
lxml==4.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.1.0
pycodestyle==2.5.0
pylint==2.4.4
pyrsistent==0.15.7
pytz==2019.3
requests==2.22.0
requests-toolbelt==0.9.1
six==1.13.0
typed-ast==1.4.0
urllib3==1.25.7
webexteamssdk==1.2
Werkzeug==0.16.0
wrapt==1.11.2
xmltodict==0.12.0
zeep==3.4.0
zipp==0.6.0
