/*
Variables:
 */

$light-grey: #f0f0f0;
$dark-grey1: #696969;
$menu-line-height: 40px;
$sub-menu-line-height: 30px;
$term-emu-bg-color: #fafafa;


$front-page-bottom-color: #00263A;

$ciscolive-very-dark-blue: #005073;
$ciscolive-dark-blue: #017cad;
$ciscolive-light-blue: #00bceb;
$ciscolive-light-green: #6EBE4A;
$ciscolive-light-yellow: #FBAB18;
$ciscolive-light-red: #E2231A;

$cisco-indigo-blue: #005073;
$cisco-vibrante-blue: #017cad;
$cisco-blue: #00bceb;
$cisco-status-blue: #64bbe3;
$cisco-light-blue: #f2fbfd;

$cisco-grey-light2: #c6c7ca;
$cisco-grey-light3: #dfdfdf;
$cisco-grey-light2: #f2f2f2;
$cisco-grey-medium2: #9e9ea2;
$cisco-grey-medium4: #b6b9bb;
$cisco-grey-dark1: #39393b;
$cisco-grey-dark2: #58585b;
$cisco-grey-dark3: #626469;
$cisco-grey-dark4: #7f7f86;

@font-face {
    font-family: "LatoHairline";
    src: url('/static/fonts/Lato/Lato-Hairline.woff') format('woff'),
        url('/static/fonts/Lato/Lato-Hairline.woff2') format('woff2')
}

@font-face {
    font-family: "LatoLight";
    src: url('/static/fonts/Lato/Lato-Light.woff') format('woff'),
        url('/static/fonts/Lato/Lato-Light.woff2') format('woff2')
}

@font-face {
    font-family: "LatoReg";
    src: url('/static/fonts/Lato/Lato-Regular.woff') format('woff'),
        url('/static/fonts/Lato/Lato-Regular.woff2') format('woff2')
}

@font-face {
    font-family: "MindBlue";
    src: url('/static/fonts/MindBlue/MindBlue_light_demo.otf')
}

@font-face {
    font-family: "HighSanSerif7";
    src: url('/static/fonts/HighSansSerif7/high_sans_serif_7.ttf')
}

/*
Changes using the new CUI body HTML css tag
 */

.row {
    margin-top: 20px;
}

.content {
    min-height: 80vh;
}

.slider-to-right .slider {
    // slider-to-right has to be in the parent element of the input to push
    // it to the right.
    float: right;
}

.tooltip.in {
    opacity: .8;
}

/*
Responsive markers to change font sizes and other components across drip
*/
.metadata {
    .display-3 {
        font-size: 14px !important;
    }
}



@media (min-width: 576px) {
    .metadata {
        .display-3 {
            font-size: 18px !important;
        }
    }

    .drip-sec-divider {
        margin: 2px 0px 20px 0px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .metadata {
        .display-3 {
            font-size: 24px !important;
        }
    }

    .drip-sec-divider {
        margin: 20px 0px 20px 0px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .metadata {
        .display-3 {
            font-size: 32px !important;
        }
    }

    .drip-sec-divider {
        margin: 40px 0px 40px 0px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .metadata {
        .display-3 {
            font-size: 48px !important;
        }
    }

    .drip-sec-divider {
        margin: 40px 0px 40px 0px;
    }
}


h1.display-0 {
    font-family: "LatoHairline";
    font-size: 10rem !important;
}