<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            {% block metas %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="LTRCOL-2574 Hands-on Collaboration APIs">
            <meta name="application-name" content="LTRCOL-2574 Hands-on Collaboration APIs">
            <meta name="author" content="">
            <link rel="icon" href="/static/icons/cisco-icon.ico">
            {% endblock metas %}

            {% block fonts %}
            <!-- Custom fonts for this template-->
            <link href="static/js/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            {% endblock fonts %}

            {% block styles %}
            <!-- Custom styles for this template-->
            <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/r-2.2.3/datatables.min.css"/>
            {% endblock styles %}

            <title>{{title}}</title>

            {% block head_scripts %}
            {% endblock head_scripts %}
        {% endblock head %}
    </head>

    <body id="page-top">
        {% block body %}

        <!-- Page Wrapper -->
        <div id="wrapper">
            {% include 'sidebar.html' %}

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% block topbar %}
                {% include 'topbar.html' %}
                {% endblock topbar %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                {% block content %}
                {% endblock content %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'footer.html' %}
            <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script src="static/js/jquery/jquery.min.js"></script>
        <script src="static/js/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="static/js/jquery-easing/jquery.easing.min.js"></script>

        <!-- Mustache JavaScript-->
        <script src="static/js/mustache.js"></script>
        
        <!-- DataTables JavaScript-->
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/r-2.2.3/datatables.min.js"></script>

        <!-- Portal API Interaction JavaScipt-->
        <script src="static/js/portal/wbxc.js"></script>
        <script src="static/js/portal/ucm.js"></script>
        <script src="static/js/portal/ucxn.js"></script>
        <script src="static/js/portal/cms.js"></script>
        <script src="static/js/portal/wbxt.js"></script>
        <script src="static/js/portal/core.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="static/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="static/js/chart.js/Chart.min.js"></script>

        {% endblock body %}

    </body>

    {% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {


        });
    </script>
    {% endblock scripts %}

</html>