{% extends "core_base.html" %}
{% block content %}
<h1>Unified Communication Manager</h1>

{% include 'main_table.html' %}
<script type="text/javascript">

var locations = {};

function addCheckbox(name) {
   var container = $('#extras');
   //var inputs = container.append('input');
   var id = 'select_all';

   $('<input />', { type: 'checkbox', id: 'cb'+id, value: name }).appendTo(container);
   $('<label />', { 'for': 'cb'+id, text: name }).appendTo(container);
}


function showDatatable(data) {

    if ( $.fn.DataTable.isDataTable( '#main-table' ) ) {

        table = $('#main-table').DataTable();
        table.clear();
        table.rows.add(data).draw();
        return;
    }

    return $("#main-table").DataTable({
        data: data,
        rowId: 'pkid',
        order: [[4, 'asc'], [7, 'asc'], [1, 'asc']],
        lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
        pageLength: 50,
        select: {
            "style": "multi+shift",
            "selector": "td:first-child"
        },
        columns: [
            {
                "data": null,
                "defaultContent": "",
                "className": "select-checkbox",
                "orderable": false,
                title: '&nbsp;&nbsp;&nbsp;'
            },
            {
                "data": "timestamp",
                className: 'export',
                "title": "Timestamp"
            },
            {
                "data": "name",
                className: 'export',
                "title": "Name"
            },
            {
                "data": "status",
                className: 'export',
                "title": "Status",
                render: function (data, type, row) {
                    if (type === 'display') {
                        return data.replace(/,/g, '</br>');
                    }
                    return data.replace(/,\s*$/, "");
                }
            },
            {
                "data": "location_name",
                className: 'export',
                "title": "Location"
            },
            {
                "data": "store_id",
                className: 'export',
                "title": "Store ID"
            },
            {
                "data": "store_phone",
                className: 'export',
                "title": "Store Phone"
            },
             {
                "data": "number",
                className: 'export',
                "title": "Call Flow",
                render: function (data, type, row) {
                    if (type === 'export') {
                        return '\u200C' + data;
                    }
                    return data;
                }
            },
            {
                "data": "department",
                className: 'export',
                "title": "Department"
            },
            {
                "data": "response",
                className: 'export',
                "title": "Response"
            },
            {
                "data": "calling",
                className: 'export',
                "title": "Calling Number",
                render: function (data, type, row) {
                    if (type === 'export') {
                        return '\u200C' + data;
                    }
                    return data;
                }
            },
            {
                "data": "ocalled",
                className: 'export',
                "title": "Original Called Number",
                "createdCell": function (td, cellData, rowData, row, col) {
                    var result = JSON.parse(rowData.result);
                    if ( result.ocalled === 'No' ) {
                        $(td).css('color', 'red')
                    }
                },
                render: function (data, type, row) {
                    if (type === 'export') {
                        return '\u200C' + data;
                    }
                    return data;
                }
            },
            {
                "data": "fcalled",
                className: 'export',
                "title": "Final Called Number",
                "createdCell": function (td, cellData, rowData, row, col) {
                    var result = JSON.parse(rowData.result);
                    if ( result.fcalled === 'No' ) {
                        $(td).css('color', 'red')
                    }
                },
                render: function (data, type, row) {
                    if (type === 'export') {
                        return '\u200C' + data;
                    }
                    return data;
                }
            },         

        ],
        initComplete: function () {
            showButtons();
        }
    });
}


function getResults() {
    $.getJSON("/api/v1/results/all_results", function (json) {
            showDatatable(json)
    });
 
}

function formatChild(d) {


    var table = $('#main-table').DataTable();
    var colCount = table.columns().header().count();

    var html = '';
    //console.log(typeof d.transcript)
    //console.log(d.transcript)
    var transcripts = JSON.parse(d.transcript_parsed);
    var error = d.error;
    var count = 1;

    if (error.length > 0) {
        html += '<tr>' +
                        '<td></td>' +
                        '<td class="text-left"><span class="highlight" style="font-weight:600;">Error:</span></td>' +
                        '<td class="text-left" colspan="' + (colCount - 2) + '"><span class="highlight" style="font-weight:600;">' + error + '</span></td>' +
                    '</tr>';

    } else {
        for (i=0; i<transcripts.length; i++) {
            html += '<tr>' +
                        '<td></td>' +
                        '<td class="text-left">Transcript ' + count + ':</td>' +
                        '<td class="text-left" colspan="' + (colCount - 2) + '">' + transcripts[i] + '</td>' +
                    '</tr>';
            count++;
        }

}

return html;
}


function showButtons() {
    var table = $('#main-table').DataTable();
    new $.fn.dataTable.Buttons( table, [
                    { extend: "remove", editor: editor },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: '.export',
                            orthogonal: 'export'
                        }
                    }
            ] );

            table.buttons().container()
                .prependTo( $(table.table().container() ) );
            return;

}

$(document).ready(function() {
    $('.display-0').html('Reports').hide();
    $('#DT').html('Results Table');
    editor = new $.fn.dataTable.Editor(
{
    table: "#main-table",
    idSrc: 'pkid',
    ajax: {
            remove: {
                type: 'POST',
                url:  '/api/v1/results/remove?id=_id_'
            }
        },
    fields: [
        {
            "name": "pkid",
            "label": "PKID:"
        },
    ]
});
    addCheckbox(' Select All')
    getResults();
    

    $('#cbselect_all').on('change', function () {

        var checked = $(this).prop('checked');

        if ( $.fn.DataTable.isDataTable( '#main-table' ) ) {

            table = $('#main-table').DataTable();
            if (checked) { 
                table.rows({search: 'applied'}).select();
            } else {
                table.rows().deselect();
            }



        }

    });

});
</script>

{% endblock content %}