<div class='row'>
    <div class='col-12 flex flex-right'>
        <!--<h1 class="display-0">Database Tools</h1>-->
    </div>
</div>

<div class='row'>
    <div class="col-12">
        <div class="panel panel--bordered panel--raised panel--loose">
            <div class="subtitle" >Database Tools <span id=''></span></div>
            <p>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                </p>
            <hr/>
            <span>Backup the ivr_sqlite.db file</span>
            <dl>
                <p>
                    <button id="download">Download</button>
                </p>
            </dl>
            <hr/>
            <form method="post" action="/" enctype="multipart/form-data">
                <span>Upload ivr_sqlite.db backup file</span>
                <dl>
                    <p>
                        <input type="file" name="file" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit">
                </p>
            </form>
          <hr/>
            <span>Empty ivr_sqlite.db Database</span>
            <dl>
                <p>
                    <button id="empty">Empty</button>
                </p>
            </dl>
            <hr/>
            <span>Empty ivr_sqlite.db Database and import uploaded ivr_sqlite.db file</span>
            <dl>
                <p>
                    <button id="import">Import</button>
                </p>
            </dl>
            <hr/>
            <span>Update reports schema</span>
            <dl>
                <p>
                    <button id="update">Update</button>
                </p>
            </dl>
            <span>Update locations schema</span>
            <dl>
                <p>
                    <button id="update_locations">Update</button>
                </p>
            </dl>
         </div>
    </div>
</div>




<hr class='drip-sec-divider'>