<nav class="header" id="styleguideheader" role="navigation" style='min-height: 60px;'>
    <div class="container-fluid">
        <div class="header-panels">
            <div class="header-panel hidden-md-down">
                <a class="header__logo" href="http://www.ciscolive.com" target="_blank">
                    <span class="icon-ciscolive"></span>
                </a>
                <div class="dropdown dropdown--right dropdown--offset-qtr header-item" style='margin-left:20px;'>
                    <a class="header-toolbar__link">Menu</a>
                    <div class="dropdown__menu">
                        <a href='/'>
                            <span class="icon-home"></span>
                            <span class="qtr-margin-left">Home</span>
                        </a>
                        <div class="divider"></div>
                        <a href='/call_flows'>
                            <span class="icon-phone"></span>
                            <span class="qtr-margin-left">Call Flows</span>
                        </a>
                        <a href='/locations'>
                            <span class="fa fa-landmark"></span>
                            <span class="qtr-margin-left">Locations</span>
                        </a>
                         <a href='/upload'>
                            <span class="fa fa-file-upload"></span>
                            <span class="qtr-margin-left">File Upload</span>
                        </a>
                       <div class="divider"></div>
                        <a href='/process'>
                            <span class="fa fa-music"></span>
                            <span class="qtr-margin-left">Process Call Flows</span>
                        </a>
                        <a href='/reports'>
                            <span class="fa fa-chart-line"></span>
                            <span class="qtr-margin-left">Reports</span>
                        </a>
                        <div class="divider"></div>
                        <a href='/cucm'>
                            <span class="fa fa-phone"></span>
                            <span class="qtr-margin-left">Unified CM</span>
                        </a>
                        <a href='/cuc'>
                            <span class="fa fa-voicemail"></span>
                            <span class="qtr-margin-left">Unity Connection</span>
                        </a>
                        <a href='/cms'>
                            <span class="fa fa-arrows-alt"></span>
                            <span class="qtr-margin-left">Meeting Server</span>
                        </a>
                        <a href='/teams'>
                            <span class="fa fa-user-friends"></span>
                            <span class="qtr-margin-left">Webex</span>
                        </a>
                    </div>
                </div>
                <h1 class="header__title" style='margin-left:20px; font-size:1.8em;'>
                    LTRCOL-2574 Sample Portal
                </h1>
            </div>
            <div class="header-panel header-panel--center base-margin-left base-margin-right hidden-lg-up">
                <a class="header__logo" href="http://www.ciscolive.com/" target="_blank">
                    <span class="icon-ciscolive"></span>
                </a>
            </div>
            <div class="header-panel header-panel--right hidden-md-down">
                <div id="themeSwitcher" class="dropdown dropdown--left dropdown--offset-qtr header-item">
                    <a class="header-toolbar__link">Theme</a>
                    <div class="dropdown__menu">
                        <a id="theme-default" class="selected">Default</a>
                        <a id="theme-dark">Dark</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>