<div class='row'>
    <div class='col-12 flex flex-right'>
        <h1 class="display-0">No Title</h1>
    </div>
</div>

<div class='row'>
    <div class="col-12">
        <div class="panel panel--bordered panel--raised panel--loose">
            <div class="subtitle" id="DT">No Title <span id=''></span></div>
            <div id="progress"></div>
            <div id="extras"></div>
            <div class="section text-center main_table">
                <table class='table table--lined table--wrapped table--compressed table--striped table--bordered' id='main-table' style="width:100%">
                </table>
            </div>
        </div>
    </div>
</div>

<hr class='drip-sec-divider'>