{% extends "core_base.html" %}
{% block content %}
<h1>File Upload</h1>
<div class='row'>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <!--
        <div class="form-group">
            <div class="form-group__text">
                <select class="select2" id="manager_select_picker">
                </select>
            </div>
        </div>
        -->
        <form action="/upload_file" class="dropzone" id="dropzoneForm">
            <div class="fallback">
              <input type="file" name="file" multiple="multiple">
            </div>
          </form>
        </div>
</div>

{% include 'main_table.html' %}

<script type="text/javascript">
var editor;

function format ( d ) {
    return '<tr>'+
            '<td>Files:</td>'+
            '<td colspan="2" class="text-left">' + d.files.replace(/,/g, '</br>') + '</td>'+
        '</tr>';

}


function removeDirectory(filepath) {
    $.getJSON("/api/v1/upload/rmdir/" + filepath, function (json) {

    });
}

function updateFiles(name) {
    $.getJSON("/api/v1/upload/update_files/" + name, function (json) {
        var table = $("#main-table").DataTable();
        table.ajax.reload(null, false);

    });
}

var myDropzone = Dropzone.options.dropzoneForm = {
    
    drop: function(event) {
        var table = $("#main-table").DataTable();
        if (table.rows( {selected: true} ).count() > 0) {

            var name = table.row( {selected: true} ).data().name;
            removeDirectory(name);
        }
    },
    accept: function(file, done) {
        var table = $("#main-table").DataTable();
        if (table.rows( {selected: true} ).count() === 0) {
            
            done("Please select a test first");
        }
        else { 

           done();
        }
    },
    complete: function(file) {
        var table = $("#main-table").DataTable();

        if (table.rows( {selected: true} ).count() > 0) {
            
            this.removeFile(file);

            //var name = table.row( {selected: true} ).data().name;
            //updateFiles(name);
        }
    },
    queuecomplete: function () {
        console.log('que complete')
        var table = $("#main-table").DataTable();
        
        if (table.rows( {selected: true} ).count() > 0) {
            
            var name = table.row( {selected: true} ).data().name;
            updateFiles(name);
        }
    },
    init: function() {
        this.on("sending", function(file, xhr, data) {
            if(file.fullPath){
                data.append("fullPath", file.fullPath);
            }

            data.append('test_name', getSelectedTest());
            //console.log('sending', data)


        });
    }
};

function getSelectedTest() {
    var table = $("#main-table").DataTable();

    var data = table.row( {selected: true} ).data();

    return data.name;
}
$(document).ready(function() {


    $('.display-0').html('Uploaded Files').hide();
    $('#DT').html('File Upload Table');

editor = new $.fn.dataTable.Editor(
{
    table: "#main-table",
    idSrc: 'pkid',
    ajax: {
            create: {
                type: 'POST',
                url:  '/api/v1/upload/create'
            },
            edit: {
                type: 'PUT',
                url:  '/api/v1/upload/edit?id=_id_'
            },
            remove: {
                type: 'POST',
                url:  '/api/v1/upload/remove?id=_id_'
            }
        },
    fields: [
        {
            "name": "name",
            "label": "Test Name:"
        },
    ]
});


var table = $("#main-table").DataTable({
    ajax: {
        url: "/api/v1/upload/alluploads",
        dataSrc: ''
    },
    rowId: 'pkid',
    order: [[1, 'asc']],
    select: {
        "style": "single",
        "selector": "td:first-child"
    },

    columns: [
        {
            "data": null,
            "defaultContent": "",
            "className": "select-checkbox",
            "orderable": false,
            title: '&nbsp;&nbsp;&nbsp;'
        },
        {
            "data": "pkid",
            "title": "PKID",
            visible: false
        },
        {
            "data": "name",
            "title": "Test Name"
        },

        {
            "data": "files",
            "title": "Trace Files",
            className: 'text-left',
            "render": function ( data, type, row ) {  

                if (type === 'display') {
                    if (typeof data === 'string') {
                        return 'Number of files: ' + data.split(",").length + ' (click to list)';
                    } else {
                        return '';
                    }
                }
                return data;

                //return  typeof data === 'string' ? data.replace(/,/g, '</br>') : '';
            }
        }
    ]
});

    // Activate an inline edit on click of a table cell
    $('#main-table').on( 'click', 'tbody td:not(:first-child, :last-child)', function (e) {
        editor.inline( this, {
            onBlur: 'submit',
        } );
    } );


    // Display the buttons
    new $.fn.dataTable.Buttons( table, [
        { extend: "create", editor: editor },
        { extend: "edit",   editor: editor },
            {
                extend: "selectedSingle",
                text: 'Duplicate',
                action: function ( e, dt, node, config ) {
                    // Place the selected row into edit mode (but hidden),
                    // then get the values for all fields in the form
                    var values = editor.edit(
                            table.row( { selected: true } ).index(),
                            false
                        )
                        .val();

                    // Create a new entry (discarding the previous edit) and
                    // set the values from the read values
                    editor
                        .create( {
                            title: 'Duplicate record',
                            buttons: 'Create from existing'
                        } )
                        .set( values );
                }
            },
        { extend: "remove", editor: editor }
    ] );

    table.buttons().container()
        .prependTo( $(table.table().container() ) );


    editor
        .on( 'postCreate postRemove', function () {
            // After create or edit, a number of other rows might have been effected -
            // so we need to reload the table, keeping the paging in the current position
            table.ajax.reload( null, false );
        } )
        .on( 'initCreate', function () {
            // Enable order for create
        } )
        .on( 'initEdit', function () {
            // Disable for edit (re-ordering is performed by click and drag)
        } );


        $('#main-table tbody').on('click', 'td:last-child', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );

});


</script>


{% endblock content %}